<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin login</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="shortcut icon" href="/logo" type="image/png">
</head>
<body>
    <h1>Admin login</h1>
    <a href="/"><button>Homepage</button></a>
    <hr>

    <form action="/admin" method="post">
        <label for="username">Username: </label>
        <input type="text" id="username" name="username" required>
        <br>

        <label for="password">Password: </label>
        <input type="password" id="password" name="password" required>
        <br>
        <div class="cf-turnstile" data-sitekey="0x4AAAAAACAX5hJ5rxxG4bFv"></div>
        <br>
        <input type="submit" value="Log in">
    </form>
</body>
</html>