<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin login</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="shortcut icon" href="/logo" type="image/png">
    <script
  src="https://challenges.cloudflare.com/turnstile/v0/api.js"
  async
  defer
></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
    crossorigin="anonymous">
</head>
<body class="text-center">
    <h1>Admin login</h1>
    <a href="/"><button type="button" class="btn btn-secondary">Homepage</button></a>
    <hr>

    <div class="d-flex justify-content-center mt-4">
    <form action="/admin" method="post">
        <div class="input-group mb-3 w-75">
            <span class="input-group-text">Username</span>
            <input type="text" class="form-control" name="username" required>
        </div>


        <div class="input-group justify-content-center mb-3 w-75">
            <span class="input-group-text">Password</span>
            <input type="password" class="form-control" name="password" required>
        </div>
        <input type="submit" value="Log in" class="btn btn-primary">
        <br>
        <div class="cf-turnstile" data-sitekey="0x4AAAAAACAX5hJ5rxxG4bFv"></div>
    </form>
    </div>
</body>
</html>