<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin panel</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Hello admin</h1>
    <a href="/"><button>Homepage</button></a>
    <a href="/admin/logout"><button>Log out</button></a>
    <hr>
    <p>More thigs coming soon</p>
</body>
</html>