<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin panel</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="shortcut icon" href="/logo" type="image/png">
</head>
<body>
    <h1>Hello admin</h1>
    <a href="/"><button>Homepage</button></a>
    <a href="/admin/logout"><button>Log out</button></a>
    <hr>
    <h3>Update admin announcement</h3>
    <input type="text" id="announcement" placeholder="Announcement">
    <button id="announcementSubmit">Update</button>
    <p id="announcementResult"></p>

    <script>
        const announcement = document.getElementById("announcement");
        const announcementSubmit = document.getElementById("announcementSubmit");
        const announcementResult = document.getElementById("announcementResult");

        announcementSubmit.addEventListener("click", async () => {
            const request = await fetch("/api/v1/admin/announcement", {
                method: "PATCH",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    announcement: announcement.value
                })
            });
            if(request.ok){
                announcementResult.textContent = "Updated succesfuly"
            }
            else{
                announcementResult.textContent = "There was an error while updating the announcement"
            }
        });
    </script>
</body>
</html>