<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h2>Error</h2>
    <p>There was an error while processing your action. Error: <%= error %></p>
    <a href="/"><button>Homepage</button></a>
</body>
</html>