<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>
    <h1>Welcome to thenamelessdev.com!</h1>
    <a href="https://github.com/thenamelessdev/website-v2" target="_blank"><button>GitHub</button></a>
    <hr>
    <p>This is the 2th version of the website!</p>

    <br>
    <p>&copy; 2025 thenamelessdev. Licensed under the <a href="https://opensource.org/license/mit">MIT license.</a></p>
</body>
</html>