<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="shortcut icon" href="/logo" type="image/png">
</head>
<body>
    <h1>Welcome to my website!</h1>
    <a href="https://github.com/thenamelessdev/website-v2" target="_blank"><button>GitHub</button></a>
    <a href="/projects"><button>Projects</button></a>
    <a href="/who"><button>Who am I</button></a>
    <a href="https://thenamelessdev.statuspage.io/" target="_blank"><button>Status</button></a>
    <a href="/users"><button>Log in</button></a>
    <hr>
    <p>This is the 2th version of the website!</p>
    <p id="announcement"></p>
    <br>
    <p id="changelog">Dev Changelog: loading...</p>
    <br>
    <p>&copy; 2025 thenamelessdev. Licensed under the <a href="https://opensource.org/license/mit">MIT license.</a></p>
    <p>By using the website you aggree to our <a href="/privacy">privacy policy</a></p>
    <script src="https://thenamelessdev.statuspage.io/embed/script.js"></script>
    <script>
        const announcementText = document.getElementById("announcement");
        const changelogText = document.getElementById("changelog");

        async function updateThings() {
            const announcement = await fetch("/api/v1/announcement");
            const announcementJson = await announcement.json();
            if(announcementJson.announcement == "" || announcementJson.announcement == undefined){
                
            }
            else{
                announcementText.textContent = `Announcement: ${announcementJson.announcement}`
            }

            const changelogReq = await fetch("https://raw.githubusercontent.com/thenamelessdev/website-v2/refs/heads/dev/changelog.txt", {
                headers: {
                    "Accept": "application/json"
                }
            });
            const changelog = await changelogReq.text();
            changelogText.textContent = `Dev Changelog: ${changelog}`;
            
        }
        updateThings();
    </script>
</body>
</html>