<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="shortcut icon" href="/logo" type="image/png">
</head>
<body>
    <h1>Welcome to my website!</h1>
    <a href="https://github.com/thenamelessdev/website-v2" target="_blank"><button>GitHub</button></a>
    <a href="/projects"><button>Projects</button></a>
    <a href="/who"><button>Who am I</button></a>
    <a href="https://thenamelessdev.statuspage.io/" target="_blank"><button>Status</button></a>
    <hr>
    <p>This is the 2th version of the website!</p>
    <br>
    <p>&copy; 2025 thenamelessdev. Licensed under the <a href="https://opensource.org/license/mit">MIT license.</a></p>
    <script src="https://thenamelessdev.statuspage.io/embed/script.js"></script>
</body>
</html>