<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="shortcut icon" href="/logo" type="image/png">
</head>
<body>
    <h1>Projects</h1>
    <p>Some projects that I made</p>
    <a href="/"><button>Homepage</button></a>
    <hr>
    <a href="/projects/age">Age guesser</a>
    <br>
    <a href="/projects/calculator">Cursed calculator</a>
    <br>
    <a href="/projects/timer">Cursed timer</a>
    <br>
    <a href="/projects/cookie">Cookie clicker</a>
    <br>
    <a href="/projects/refresher">Refresher</a>
    <br>
    <p>&copy; 2025 thenamelessdev. Licensed under the <a href="https://opensource.org/license/mit">MIT license.</a></p>
</body>
</html>