<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="shortcut icon" href="/logo" type="image/png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
    crossorigin="anonymous">
</head>
<body class="text-center">
    <h1>Projects</h1>
    <p>Some projects that I made</p>
    <a href="/"><button type="button" class="btn btn-secondary">Homepage</button></a>
    <hr>
    <a href="/projects/age">Age guesser</a>
    <br>
    <a href="/projects/calculator">Cursed calculator</a>
    <br>
    <a href="/projects/timer">Cursed timer</a>
    <br>
    <a href="/projects/cookie">Cookie clicker</a>
    <br>
    <a href="/projects/refresher">Refresher</a>
    <br>
    <a href="/projects/ttt">Tik Tak Toe</a>
    <br>
    <a href="/projects/suggestion">Suggestion</a>
    <br>
    <a href="https://nameless-translate.thenamelessdev.com/">Nameless Translate</a>
    <br>
    <a href="https://meow.thenamelessdev.com">Meow protocol</a>
    <br>
    <a href="/projects/webhook">Discord Webhooker</a>
    <br>
    <a href="/projects/request">Request</a>
    <br>
    <a href="/projects/base64">Base64</a>
    <br>
    <br>
    <p>&copy; 2025 thenamelessdev. Licensed under the <a href="https://opensource.org/license/mit">MIT license.</a></p>
    <p>By using the website you aggree to our <a href="/privacy">privacy policy</a></p>
</body>
</html>