<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Who am I</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="shortcut icon" href="/logo" type="image/png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
    crossorigin="anonymous">
</head>
<body class="text-center">
    <h2>Who am I?</h2>
    <a href="/"><button type="button" class="btn btn-secondary">Homepage</button></a>
    <hr>

    <div class="card align-items-center">
        <img src="/logo" alt="website logo" width="100">
        <div class="card-body">
            <h5 class="card-title">Nameless</h5>
            <p class="card-text">Hey, I'm Nameless. I am a learning full stack developer</p>
            <a href="https://github.com/thenamelessdev"><button type="button" class="btn btn-primary">Github</button></a>
        </div>
    </div>
</body>
</html>