<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tik Tak Toe</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="shortcut icon" href="/logo" type="image/png">
    <script
  src="https://challenges.cloudflare.com/turnstile/v0/api.js"
  async
  defer
></script>
</head>
<body>
    <h1>Tik tak toe</h1>
    <a href="/projects"><button>Go back</button></a>
    <hr>
    <h3>Create room</h3>
    <form action="/projects/ttt/rooms" method="post">
        <label for="room">Room name: </label>
        <input type="text" id="room" name="room" required>
        <br>
        <label for="name">Username: </label>
        <input type="text" name="name" id="name" required>
        <br>
        <div class="cf-turnstile" data-sitekey="0x4AAAAAACAX5hJ5rxxG4bFv"></div>
        <br>
        <input type="submit" value="Create Room">
    </form>

    <h3>Join room</h3>
    <form action="/projects/ttt/join" method="post">
        <label for="room">Room name: </label>
        <input type="text" name="room" id="room" required>
        <br>
        <label for="username">Username: </label>
        <input type="text" name="username" id="username" required>
        <br>
        <div class="cf-turnstile" data-sitekey="0x4AAAAAACAX5hJ5rxxG4bFv"></div>
        <br>
        <input type="submit" value="Join">
    </form>
</body>
</html>