<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Age guesser</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="shortcut icon" href="/logo" type="image/png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
    crossorigin="anonymous">
</head>
<body class="text-center">
    <h2>Age guesser</h2>
    <a href="/projects"><button type="button" class="btn btn-secondary">Go back</button></a>
    <hr>

    <div class="d-flex flex-column align-items-center">
        <label for="age" class="form-label">Enter your age: </label>
        <input type="number" id="age" class="form-control w-25" placeholder="Age">
        <br>
        <button id="submit" type="button" class="btn btn-success">Guess age</button>
        <p id="result"></p>
    </div>

    <script>
        const age = document.getElementById("age");
        const result = document.getElementById("result");
        const submit = document.getElementById("submit");

        submit.addEventListener("click", () => {
            if(!age.value) {
                result.textContent = "Please enter your age. I cannot guess it without that";
            }
            else{
                result.textContent = `Your age is ${age.value}`;
            }
        });
    </script>
</body>
</html>