<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cookie clicker</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="shortcut icon" href="/logo" type="image/png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
    crossorigin="anonymous">
</head>
<body class="text-center">
    <h1>Cookie Clicker</h1>
    <p>More like button clicker</p>
    <p>This isn't just a normal cliker. It's global</p>
    <a href="/projects"><button type="button" class="btn btn-secondary">Go back</button></a>
    <hr>
    <button id="cookie" type="button" class="btn btn-success" style="background-color: rgb(202, 174, 101); border-color: rgb(202, 174, 101);">Click me</button>
    <h5 id="clicks">Clicks: </h5>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const cookie = document.getElementById("cookie");
        const clicksText = document.getElementById("clicks");
        const socket = io();

        cookie.addEventListener("click", () => {
            socket.emit("click");
        });
        socket.on("clicks", (data) => {
            clicksText.textContent = `Clicks: ${data}`;
        });
    </script>
</body>
</html>