<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cookie clicker</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Cookie Clicker</h1>
    <p>More like button clicker</p>
    <p>This isn't just a normal cliker. It's global</p>
    <a href="/projects"><button>Go back</button></a>
    <hr>
    <button id="cookie">Click me</button>
    <p id="clicks">Clicks: </p>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const cookie = document.getElementById("cookie");
        const clicksText = document.getElementById("clicks");
        const socket = io();

        cookie.addEventListener("click", () => {
            socket.emit("click");
        });
        socket.on("clicks", (data) => {
            clicksText.textContent = `Clicks: ${data}`;
        });
    </script>
</body>
</html>