<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API dashboard</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="shortcut icon" href="/logo" type="image/png">
</head>
<body>
    <h1>API dashboard</h1>
    <a href="/users"><button>Go back</button></a>
    <hr>
    <h3>Create API key</h3>
    <button id="createKey">Create api key</button>
    <p id="createResult"></p>
    
    <br>

    <h3>Delete API key</h3>
    <button id="deleteKey">Delete key</button>
    <br>
    <p id="deleteResult"></p>
    <script>
        const createBtn = document.getElementById("createKey");
        const createResult = document.getElementById("createResult");

        const deleteBtn = document.getElementById("deleteKey");
        const deleteResult = document.getElementById("deleteResult");

        createBtn.addEventListener("click", async () => {
            const key = await fetch("/api/v1/keys", {
                method: "PUT"
            });
            const keyJson = await key.json();
            if (key.ok){
                createResult.textContent = keyJson.key;
            }
            else{
                createResult.textContent = `There was an error while generating your api key: ${keyJson.error}`;
            }
        });

        deleteBtn.addEventListener("click", async () => {
            const result = await fetch("/api/v1/keys", {
                method: "DELETE",
            });
            const resultJson = await result.json();
            if(result.ok){
                deleteResult.textContent = "API key deleted";
            }
            else{
                deleteResult.textContent = `There was an error while deleting your key: ${resultJson.error}`;
            }
        });
    </script>
</body>
</html>