<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - <%= username %></title>
    <link rel="stylesheet" href="/style.css">
    <link rel="shortcut icon" href="/logo" type="image/png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
    crossorigin="anonymous">
</head>
<body class="text-center">
    <h1>Dashboard - <%= username %></h1>
    <div class="btn-group">
    <a href="/users/logout" class="btn btn-secondary">Log out</a>
    <a href="/" class="btn btn-secondary">Homepage<a>
    <a href="/users/dashboard/api" class="btn btn-secondary">API  dashboard</a>
    <a href="/users/dashboard/webhooker" class="btn btn-secondary">Discord Webhooker</a>
    </div>
    <hr>
    <p>More things coming soon!</p>
</body>
</html>