<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="shortcut icon" href="/logo" type="image/png">
</head>
<body>
    <h1>Log in options</h1>
    <a href="/"><button>Go back</button></a>
    <hr>
    <a href="<%= dc %>"><button>Log in with Discord</button></a>
</body>
</html>